<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create A Team of Heroes!</title>
  </head>
  <body>
    <h2>Create a Team and Heroes!</h2>

    <form action="/team" method="post">
      <h3>Create a Team!</h3>

      <label for="team[name]">Team Name:</label>
      <input type="text" id="team[name]" name="team[name]">

      <br>
      <br>
      <label for="team[motto]">Team Motto:</label>
      <input type="text" id="team[motto]" name="team[motto]">

      <h3>Create Your First Hero!</h3>

      <label for="member1_name">Hero's Name</label>
      <input type="text" name="team[members][][name]" id="member1_name">

      <br>
      <br>
      <label for="member1_power">Hero's Power</label>
      <input type="text" name="team[members][][power]" id="member1_power">

      <br>
      <br>
      <label for="member1_bio">Hero's Biography</label>
      <input type="text" name="team[members][][bio]" id="member1_bio">

      <h3>Create Your Second Hero!</h3>

      <label for="member2_name">Hero's Name</label>
      <input type="text" name="team[members][][name]" id="member2_name">

      <br>
      <br>
      <label for="member2_power">Hero's Power</label>
      <input type="text" name="team[members][][power]" id="member2_power">

      <br>
      <br>
      <label for="member2_bio">Hero's Biography</label>
      <input type="text" name="team[members][][bio]" id="member2_bio">

      <h3>Create Your Third Hero!</h3>

      <label for="member3_name">Hero's Name</label>
      <input type="text" name="team[members][][name]" id="member3_name">

      <br>
      <br>
      <label for="member3_power">Hero's Power</label>
      <input type="text" name="team[members][][power]" id="member3_power">

      <br>
      <br>
      <label for="member3_bio">Hero's Biography</label>
      <input type="text" name="team[members][][bio]" id="member3_bio">

<br>
<br>
<input type="submit">

      <br>
      <br>
      <input type="submit">

    </form>

  </body>
</html>


<!-- #params = {Team = {"name" = "Avengers", "motto" = "Assemble", "members" = [ {"name = "Iron Man", "Power" = "Suit", "bio" = "Reformed Billionaire"} {"name = "Captain America", "Power" = "Super Soldier", "bio" = "WWII Hero"}]}}       -->
