<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Your Team!</h2>
    <h3><%= @team.name %></h3>
    <h3>Motto: <%= @team.motto %></h3>
  </body>
</html>
